<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
	<add name="localDB" connectionString="Server=tcp:awwcore-server.database.windows.net,1433;Initial Catalog=awwcore-gamereviews;Persist Security Info=False;User ID=awwcore;Password=9370Diablo;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
</connectionStrings>